# Evaluate trained models
In this notebook learned models, which are managed by *mlflow* are evaluated with respect to different metrics.

In [4]:
#!pip install mlflow

In [27]:
import mlflow
import mlflow.sklearn
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [6]:
mlflow.__version__

'1.24.0'

## Display all runs within the selected mlflow-experiment-ID
Select experiment:

In [7]:
mlflow.get_experiment_by_name("Linear Regression Experiment")

In [8]:
mlflow.set_experiment("Linear Regression Experiment")

In [9]:
#mlflow.set_experiment("Linear Regression Experiment")

In [10]:
allruns=mlflow.search_runs()
allruns.columns

Index(['run_id', 'experiment_id', 'status', 'artifact_uri', 'start_time',
       'end_time', 'metrics.mae Test', 'metrics.rmse Test', 'metrics.r2 Test',
       'metrics.rmse Train', 'metrics.mae Train', 'metrics.r2 Train',
       'params.Modeltype', 'tags.mlflow.user', 'tags.mlflow.source.name',
       'tags.mlflow.source.type', 'tags.mlflow.log-model.history'],
      dtype='object')

In [11]:
allruns

,run_id,experiment_id,status,artifact_uri,start_time,end_time,metrics.mae Test,metrics.rmse Test,metrics.r2 Test,metrics.rmse Train,metrics.mae Train,metrics.r2 Train,params.Modeltype,tags.mlflow.user,tags.mlflow.source.name,tags.mlflow.source.type,tags.mlflow.log-model.history
0,3bef5741797649429c57682c164b5baa,1,FINISHED,file:///Users/johannes/gitprojects/dsmmlbook/m...,2022-04-04 14:43:22.144000+00:00,2022-04-04 14:43:55.459000+00:00,4274.371897,6290.007277,0.723287,5939.452943,4173.832344,0.761688,OLS,johannes,/Users/johannes/opt/anaconda3/envs/ss22/lib/py...,LOCAL,"[{""run_id"": ""3bef5741797649429c57682c164b5baa""..."

## Select model, that shall be evaluated

Select model ID:

In [13]:
ID=0

Get run id:

In [14]:
id=allruns.loc[ID,"run_id"]
id

'3bef5741797649429c57682c164b5baa'

Delete a run:

In [72]:
#mlflow.tracking.MlflowClient().delete_run(id)

Delete a experiment:

In [73]:
#mlflow.tracking.MlflowClient().delete_experiment("2")

Terminate a run:

In [77]:
mlflow.end_run()

Restart an existing run:

In [78]:
mlflow.start_run(id)

Add or change a parameter in an existing run:

In [26]:
#mlflow.log_param("l1_ratio", 0.6)

## Load selected trained model and evulate it

Determine location of selected model and the logged data:

In [43]:
locationBase=allruns.loc[ID,"artifact_uri"]
locationBase

'file:///Users/johannes/gitprojects/dsmmlbook/mlbook/mlflowExperiments/mlruns/1/3bef5741797649429c57682c164b5baa/artifacts'

In [44]:
start=locationBase.index("mlruns")
print(start)
locationBaseRelativePath="."+locationBase[int(start-1):]
print(locationBaseRelativePath)

70
./mlruns/1/3bef5741797649429c57682c164b5baa/artifacts

In [45]:
import os

In [46]:
os.listdir(locationBaseRelativePath)

['InsuranceTrainX.csv',
 'InsuranceTrainY.csv',
 'model',
 'InsuranceTestY.csv',
 'InsuranceTestX.csv']

In [47]:
location=locationBaseRelativePath+"/model/"

In [48]:
Xtrainpath=locationBaseRelativePath+"/InsuranceTrainX.csv"
Ytrainpath=locationBaseRelativePath+"/InsuranceTrainY.csv"
Xtestpath=locationBaseRelativePath+"/InsuranceTestX.csv"
Ytestpath=locationBaseRelativePath+"/InsuranceTestY.csv"

In [35]:
linreg_model = mlflow.sklearn.load_model(location)

In [36]:
linreg_model

LinearRegression()

In [37]:
X_test=pd.read_csv(Xtestpath,index_col=0)
X_test

        0    1       2    3    4    5
0    30.0  1.0  27.645  1.0  0.0  0.0
1    51.0  0.0  18.050  0.0  0.0  1.0
2    30.0  0.0  22.895  1.0  0.0  0.0
3    33.0  1.0  22.705  0.0  0.0  1.0
4    30.0  0.0  19.950  3.0  0.0  1.0
..    ...  ...     ...  ...  ...  ...
397  54.0  1.0  32.775  0.0  0.0  0.0
398  63.0  1.0  41.470  0.0  0.0  2.0
399  26.0  1.0  27.060  0.0  1.0  2.0
400  19.0  0.0  35.150  0.0  0.0  1.0
401  32.0  0.0  33.155  3.0  0.0  1.0

[402 rows x 6 columns]

In [38]:
Y_test=pd.read_csv(Ytestpath,index_col=0)
Y_test

               0
0     4237.12655
1     9644.25250
2     4719.52405
3    21984.47061
4     5693.43050
..           ...
397  10435.06525
398  13405.39030
399  17043.34140
400   2134.90150
401   6128.79745

[402 rows x 1 columns]

In [39]:
y_pred=linreg_model.predict(X_test.values)

In [40]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [41]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    r2 = r2_score(actual, pred)
    return rmse, mae, r2

In [42]:
rmseTest,maeTest,r2Test=eval_metrics(Y_test.values,y_pred)
print("  RMSE on Test: %s" % rmseTest)
print("  MAE on Test: %s" % maeTest)
print("  R2 on Test: %s" % r2Test)

  RMSE on Test: 6290.007277198497
  MAE on Test: 4274.3718973638715
  R2 on Test: 0.7232869725193737